header {
  background-color: #23272A;
  padding: 10px;

  display: flex;
  justify-items: center;
  justify-content: space-between;

  overflow: hidden;
}

header > div > h1 {
  color: white;
  margin-left: 20px;
  font-size: 30px;
}

header > .bot-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}