html{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100%;
  margin: 0;
  padding: 0;
}

#home_button {
  background-color: #7289DA;
  border-radius: 5px;
  cursor: pointer;
}

#home_button:hover {
  box-shadow: 5px 5px #23272A;
}

#home_button > p {
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.info-dialogue {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.info-dialogue > h1 {
  color: white;
  font-weight: 400;
  font-size: 25px;
}

.info-dialogue > p {
  color: white;
  font-size: 20px;
}

.info-dialogue > p > a {
  color: firebrick;
}