@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "reset";

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #2C2F33;
  margin: 0;
}

a {
  color: #7289DA;
  text-decoration: none;
}

.noselect {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.user-image {
  height: 50px;
  border-radius: 25px;
}

.logout-div {
  background-color: #ff6b6b;
  border-radius: 3px;
  cursor: pointer;
}

.logout-div:hover {
  box-shadow: 3px 3px #23272A;
  background-color: #ee5253;
}

.logout-div > p {
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.user-widget {
  width: 400px;
  height: 100px;
  background-color: #23272A;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-widget > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-widget > img {
  margin-right: 10px;
}

.user-widget > div > div.logout-div {
  margin-top: 10px;
}

.user-widget > div > p {
  margin-top: 5px;
  color: white;
}

