{% extends "base.html" %}
{% block title %}
    Error 404
{% endblock %}

{% block head %}
    {% assets "errorpage" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <script>
    function redirect() {
        window.location.href = "/"
    }
    </script>
    <div class="info-dialogue">
        <h1>OOPS!</h1>
        <p>Seems like the page you're looking for doesnt exist!<br>
        If you entered the URL yourself, take a look at the spelling,<br>
        if you clicked on a link on the web-panel contact <a>CommandCrafterHD#7075</a> on discord about it!<br>
        Otherwise just hit the button below to come back to the dashboard/login page!</p>
    </div>
    <div class="noselect" id="home_button" onclick="redirect()"><p>BACK TO DASHBOARD</p></div>
{% endblock %}