<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% assets "scss" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="{{ url_for('static', filename='lib/require.js') }}"></script>
    {% assets "ts" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>{% block header %}{% endblock %}</header>
<div class="content">
    {% block body %}
        The body block is not overwritten. This is an error
    {% endblock %}
</div>
<footer>{% block footer %}{% endblock %}</footer>
</body>
</html>