{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {% assets "dashboard" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block header %}
    <script>
    function logout() {
        window.location.href = "/logout"
    }
    </script>
    <div class="bot-title">
        <img class="noselect" src="../static/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot > Dashboard</h1>
    </div>
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <ul>
        {% for guild in guilds %}
            <li>
                <div class="guild-tab">
                    <h2>{{ guild.name }}</h2>
                        <div class="guild-sub-tab">
                            {% if not guild.icon %}
                            <img src="https://cdn.discordapp.com/splashes/{{ guild.id }}/{{ guild.name }}.png">
                            {% else %}
                            <img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png">
                            {% endif %}
                            <button class="config-button">EDIT CONFIG</button>
                        </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}