{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block head %}
    {% assets "home" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}
<script>
    function redirect() {
        window.location.replace("https://discordapp.com/api/oauth2/authorize?client_id=482698705468784640&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fauth&response_type=code&scope=identify%20guilds")
    }
</script>
<div class="noselect" id="login_button" onclick="redirect()"><p>LOGIN WITH DISCORD</p></div>
{% endblock %}
