{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {% assets "dashboard" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block header %}
    <script>
    function logout() {
        window.location.href = "/logout"
    }
    </script>
    <div class="bot-title">
        <img class="noselect" src="../static/Ingenious_Bot.png" height="80px">
        <h1 class="noselect"><a href="/">Ingenious Bot</a> > Servers</h1>
    </div>
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}